{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><i class="fa fa-envelope" aria-hidden="true"></i> {{ 'your_email_subscription'|trans({}, 'messages') }}</h4>
        </div>

        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        {{ 'email_subscription.label.is_active'|trans({}, 'messages') }} </span> <span>{% if  subscription.isActive  %} <span class="label label-success"> Sim </span>  {% else %} <span class="label label-danger"> Nao </span>{% endif %}</span>
                    </div>                    
                </li>
                <li class="list-group-item">
                    <div>
                        {{ 'email_subscription.label.periodicity'|trans({}, 'messages') }}
                        <span class="badge"> Cada {{ subscription.periodicity }}  </span>
                        
                    </div>
                </li>

                <li class="list-group-item">
                    <div>
                        <span>{{ 'form.label.source'|trans({}, 'messages') }} </span>
                        {% for source in subscription.source %}
                            <span class="badge">{{ source }}</span> {% endfor %}
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <span>{{ 'form.label.text_format'|trans({}, 'messages') }} </span>
                        {% for format in subscription.format %}
                            <span class="badge"> {{ format }} </span>{% endfor %}
                    </div>
                </li>

            </ul>



            <div class="panel-footer center-text">
                <a  class="btn btn-default" href="{{ path('admin_sonata_user_user_edit', {id: user_id}) }}"> {{  'edit.subscription.here'|trans({}, 'messages')}} </a>
            </div>
        </div>
    </div>
{% endblock %}
